   /* IMPORTACIONES */

   @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

   /* SELECTOR UNIVERSAL */
   * {
       font-family: 'Patrick Hand', cursive;
       font-weight: 510;

   }

   /* SELECTOR ELEMENTO */

   html {
       height: 100%;
       background-color: #dee0e2;
   }

   nav {
       z-index: 1;
   }

   fieldset {
       padding-bottom: 80px !important;
   }

   svg {
       height: 100%;
       border-radius: 10px;
   }

   footer {
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       height: 75px;
       background-color: #091252;
   }

   form {
       display: flex;
       flex-direction: column;
       align-items: stretch;
       text-align: center;
       margin: 50px 0;
   }


   input {
       border: none;
       width: 100%;
       height: 40px;
       background-color: #f1f1f1;
       font-size: medium;
   }


   /* CLASES DE LOS ELEMENTOS*/

   .body {
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
       background-color: #dee0e2;
   }

   div.menusito {
       position: fixed !important;
       width: 100%;
   }

   .dark-mode {
       background-color: #222222 !important;
       color: #f5f5f5 !important;
       transition: .2s;
   }

   .modal_dark {
       color: #f5f5f5 !important;
       background-color: #010711 !important;
   }

   
   .bg-color {
       width: 250px;
       height: 250px;
       background: linear-gradient(360deg, #0d6efd 30%, #0d6dfd5e 30%);
       border-radius: 50%;
       border: 1px solid #f0f1f3;
       box-shadow: 8px 8px 8px #0b60df65;
   }

   .contenedor-inicio {
       align-items: center;
       background-color: #0d6dfd10 !important;
       width: 90%;
       height: 650px;
       border-radius: 15px;
       margin-top: 100px;
       margin-bottom: 50px;

   }

   .descripcion {
       position: absolute;
       top: 100px;
       display: grid;
       grid-template-columns: 2fr 1fr;
       justify-items: center;
       left: -120px;
   }

   .notificacion {
       position: absolute;
       left: 32%;
       top: 150px;
       right: 40px;
       rotate: 280grad;
       filter: drop-shadow(5px 10px 5px #6ac84e);
       z-index: 2;
   }


   .img-chico {
       position: absolute;
       right: 6%;
       top: 20%;
       filter: drop-shadow(15px 15px 15px #4e54c893);
       z-index: 1;

   }


   .area {
       background: #4e54c8;
       background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
       width: 100%;
   }



   .circles {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 80%;
       overflow: hidden;
   }

   .header {
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .icono-app {
       width: 80px;
       margin-bottom: 20px;
       margin-top: 30px;
   }

   .icono-sesion {
       width: 20px;
       background-color: #f1f1f1;
   }


   .correo-electronico {
       display: flex;
       align-items: center;
       border-radius: .375rem;
       margin-bottom: 15px;
   }

   .campo-contrasenna {
       display: flex;
       align-items: center;
       border-radius: .375rem;
   }



   .redes {
       font-weight: bolder;
       height: 40px;
       margin-top: 10px;

   }

   .icono-redes {
       height: 70%;
       margin: 5px;

   }

   .btn {
       letter-spacing: 2px;
   }

   .error {
       font-weight: bolder;
   }

   .overlay {
       position: absolute;
       margin: auto;
       top: 0;
       bottom: 60px;
       left: 0;
       right: 0;
       width: 130px;
       height: 130px;
       opacity: 0;
       transition: .9s ease;
       background-color: #9d9d9d;
       border-radius: 50%;
       border: 1px solid #0d6dfd;
   }


   .subir-img {
       position: absolute;
       top: 60%;
       left: 60%;
       transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
       text-align: center;
       background: transparent;
       color: transparent;
   }



   /*  ELEMENTOS DENTRO DE CLASES */

   .descripcion p {
       grid-column: 1;
       width: 70%;
       padding: 10px;
   }

   .notificacion img {
       width: 100px;
       animation: notificacion 3s linear both;
       animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
   }

   .error h1 {
       font-size: 500%;
   }

   .error img {
       filter: drop-shadow(5px 5px 10px #252525);
       margin-top: 40%;
   }

   .circles li {
       position: absolute;
       display: block;
       list-style: none;
       width: 20px;
       height: 20px;
       background: #ffffff33;
       animation: animate 25s linear infinite;
       bottom: -150px;

   }

   .circles li img {
       width: 35px;
       opacity: .3;
   }



   /* AGRUPACIONES */

   .inicio-sesion form,
   a button,
   .recuperar_contrasenna form {
       width: 340px;
   }


   /* SELECTOR INPUT POR TIPO */

   input[type="password"] {
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }




   /* PSEUDOCONECTORES */

   .notificacion img:hover {
       animation: notificacion 3s linear both infinite;
       animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
   }

   .correo:hover {
       background-color: #a0a0a0;
   }

   .google:active {
       color: #949494;
   }

   .btn_exit:hover {
       opacity: 1 !important;
   }

   .container:hover .overlay {
       opacity: .7;
   }



   input:focus-visible {
       outline: none;

   }

   a:-webkit-any-link {
       color: rgb(22, 22, 22);
       font-weight: 900;
   }

   a:active {
       color: #505050;
   }


   .circles li:nth-child(1) {
       left: 25%;
       width: 80px;
       height: 80px;
       animation-delay: 0s;
   }


   .circles li:nth-child(2) {
       left: 10%;
       width: 20px;
       height: 20px;
       animation-delay: 2s;
       animation-duration: 12s;
   }

   .circles li:nth-child(3) {
       left: 70%;
       width: 20px;
       height: 20px;
       animation-delay: 4s;
   }

   .circles li:nth-child(4) {
       left: 40%;
       width: 60px;
       height: 60px;
       animation-delay: 0s;
       animation-duration: 18s;
   }

   .circles li:nth-child(5) {
       left: 65%;
       width: 20px;
       height: 20px;
       animation-delay: 0s;
   }

   .circles li:nth-child(6) {
       left: 75%;
       width: 110px;
       height: 110px;
       animation-delay: 3s;
   }

   .circles li:nth-child(7) {
       left: 35%;
       width: 150px;
       height: 150px;
       animation-delay: 7s;
   }

   .circles li:nth-child(8) {
       left: 50%;
       width: 25px;
       height: 25px;
       animation-delay: 15s;
       animation-duration: 45s;
   }

   .circles li:nth-child(9) {
       left: 20%;
       width: 15px;
       height: 15px;
       animation-delay: 2s;
       animation-duration: 35s;
   }

   .circles li:nth-child(10) {
       left: 85%;
       width: 150px;
       height: 150px;
       animation-delay: 0s;
       animation-duration: 11s;
   }




   /* PSEUDOELEMENTOS */


   ::-webkit-scrollbar {
       background-color: transparent;
       width: 8px;
   }

   ::-webkit-scrollbar-thumb {
       background-color: #0d6dfd;
       border-radius: 10px;
   }

   .subir-img::after {
       content: none;
   }


   .subir-img::-webkit-file-upload-button {
       border-radius: 10px;
       border: none;
       background-color: #0d6efd;
       color: white;
       font-size: 80%;
       border: 1px solid #0d6dfd;

   }


   /* ANIMACIONES CSS */

   @keyframes sun-dark {

       0% {}

       100% {
           background-color: #222222;
           color: #f5f5f5;
       }

   }

   @keyframes animate {

       0% {
           transform: translateY(0) rotate(0deg);
           opacity: 1;
           border-radius: 0;
       }

       100% {
           transform: translateY(-1000px) rotate(720deg);
           opacity: 0;
           border-radius: 50%;
       }

   }

   @keyframes notificacion {

       0% {
           opacity: 0;
           filter: drop-shadow(5px 10px 15px #00000000);
       }

       50% {
           filter: drop-shadow(5px 10px 2px #6ac84e);
           opacity: 1;
           width: 100px;
       }

       75% {
           filter: drop-shadow(5px 10px 2px #37ff00);
           opacity: 1;
           width: 120px;
       }

       100% {
           filter: drop-shadow(5px 10px 2px #6ac84e);
           opacity: 1;
           width: 100px;
       }
   }